

body {
  background-color: rgb(1, 40, 64);
  color: rgb(242, 234, 223);
  font-size: 14px;
}

.header {
  display: flex;
  justify-content: center;

  h1 {
    font-family: 'Anton', sans-serif;
    font-size: 2.5rem;
    letter-spacing: 0.1rem;
  }
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40px;
  padding-right: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  a {
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    color: rgb(77, 163, 123);
  }

}
